.main-grid {
    margin: clamp(1rem,2vw,3rem);;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    "head head"
    "text pic";
    gap: 2rem;
}
.hem-text {
    text-align: left;
    max-width: 1000px;
}
.rubrik {
    grid-area: head;
}
.text-container {
    grid-area: text;
}
#Shortcut-phone {
    grid-area: pic;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
    height: auto;
}

@media screen and (max-width: 600px) {
    .main-grid {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
    "head"
    "text"
    "pic";
    padding-right: 0px;
    }
    #Shortcut-phone {
        max-width: 50%;
    }
}