.main-grid {
    display: grid;
    grid-template-columns: 10% clamp(1rem, 2.2%, 1.6rem) clamp(8rem, 15vw, 13rem) 50% min(7rem + 12%, 100vw - 10% - clamp(1rem, 2.2%, 1.6rem) - clamp(8rem, 15vw, 13rem) - 50%) 1fr;
    grid-template-rows: calc(3rem + clamp(3rem,10vw,7.5rem)) min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas:
    "no grå rubrik rubrik rubrik rubrik"
    "no grå pil1 text1 pic1 non"
    "no grå pil2 text2 pic2 non"
    "no grå pil3 text3 pic3 non"
    "no grå pil4 text4 pic4 non"
    "no grå pil5 text5 pic5 non";
}
.rubriken-historia {
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%)

}
.grå-rand {
    grid-area: grå;
    background-color: rgb(51,51,51);
    width: 100%;
    height: 100%;
}
.Arrowpoint {
    width: clamp(8rem, 15vw, 13rem);
    height: auto;
}
.all-text-historia {
    margin-left: 2rem;
}
.history-pic-description {
    padding: min(2.7rem, 4vw);
    padding-top: 0px;
}
.history-pic-description a {
    display: flex;
    justify-content: center;
}
.history-picture {
    width: calc(100% - 0rem);
    height: auto;
    border-radius: 2.7vw;
    max-width: 19rem;
}
.history-description {
    position: relative;
    color: hsl(0, 0%, 41%);
    margin-top: 5px;
}
#Arrow1 {
    grid-area: pil1;
}
#Arrow2 {
    grid-area: pil2;
}
#Arrow3 {
    grid-area: pil3;
}
#Arrow4 {
    grid-area: pil4;
}
#Arrow5 {
    grid-area: pil5;
}
#text1 {
    grid-area: text1;
}
#text2 {
    grid-area: text2;
}
#text3 {
    grid-area: text3;
}
#text4 {
    grid-area: text4;
}
#text5 {
    grid-area: text5;
}
#picture1 {
    grid-area: pic1;
}
#picture2 {
    grid-area: pic2;
}
#picture3 {
    grid-area: pic3;
}
#picture4 {
    grid-area: pic4;
}
#picture5 {
    grid-area: pic5;
}
#apple-logo {
    width: 85%;
    height: auto;
    /* margin: auto;
    display: block; */
}
@media (hover: hover) {
    .history-picture {
    transition: -webkit-filter .3s;
    }
    .history-picture:hover {
        -webkit-filter: drop-shadow(0px 0px 10px #222);
        filter:         drop-shadow(0px 0px 10px #222);
    }
}
@media screen and (min-width: 2700px) {
    #apple-logo {
    margin-left: 0px;
    }
}
@media screen and (max-width: 1200px) {
    .main-grid {
    grid-template-areas:
    "no grå rubrik rubrik rubrik rubrik"
    "no grå pil1 text1 ne non"
    "no grå na1 pic1 ne non"
    "no grå pil2 text2 ne non"
    "no grå na2 pic2 ne non"
    "no grå pil3 text3 ne non"
    "no grå na3 pic3 ne non"
    "no grå pil4 text4 ne non"
    "no grå na4 pic4 ne non"
    "no grå pil5 text5 ne non"
    "no grå na pic5 ne non";
    }
    .history-pic-description {
        padding-inline: max(5rem, 8rem - 20%);
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .history-picture {
        margin: auto;
        display: block;
    }
    .history-description {
        position: relative;
        color: hsl(0, 0%, 41%);
        margin-top: 5px;
}
}
@media screen and (max-width: 600px) {
    .rubriken-historia {
        top: 0px;
        grid-area: rubrik;
        position: relative;
    }
    .main-grid {
    grid-template-columns: 50% 50%;
    margin-top: clamp(1rem,2vw,3rem);
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content min-content min-content;
    grid-template-areas:
    "rubrik rubrik"
    "text1 text1"
    "pil1 pic1"
    "text2 text2"
    "pil2 pic2"
    "text3 text3"
    "pil3 pic3"
    "text4 text4"
    "pil4 pic4"
    "text5 text5"
    "pic5 pic5";
    }
    #Arrow5 {
    display: none;
    }
    .Arrowpoint {
    width: min(35vw, 10rem);
    height: min(30vw, 10rem);
    margin-top: 2rem;
    transform: rotate(90deg);
    justify-self: center;
    }
    .all-text-historia {
    margin-inline: 1rem;
    }
    .history-pic-description {
    padding-inline: 0px;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
    }
    .history-picture {
    margin-left: 14.5%;
    margin-right: 25.5%;
    width: 60%;
    }
    #apple-logo {
    margin-left: 20%;
    margin-right: 30%;
    width: 50%;
    }
    #picture5 {
    padding: 20%;
    padding-top: 0px;
    }
    #picture5 img{
    margin: auto;
    }
}
/* .focus-picture:focus-visible img {
    outline: 5px solid hsl(113, 66%, 55%);
} */